.top-padding {
  padding-top: 30px;
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  padding: 10px 0px;
  font-size: 4em;
}

.page-footer {
  text-align: center;
}

.education-block h4, .workExperience-block h4 {
  display: inline-block;
  margin: 0;
}

.education-content, .work-experience-content {
  padding-top: 1em;
}

.small-italic {
  font-style:italic;
  font-size: 15px;
}

.skillBar-block h4 {
  text-align: right;
}

.skillBar-block .label {
  text-align: center;
}

.progress {
  margin: 10px 0 10px 0;
  height: 22px;
}

.progress-bar:last-child:before {
  content: '';
}
