{% block content %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Resume Haus - Get Started</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
    </noscript>
    <link rel="stylesheet" href="css/custom.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="no-sidebar">

    <!-- Header -->
      <div id="header-wrapper">
        <div id="header" class="container">

          <!-- Logo -->
          <h1 id="logo"><a href="/">Resume Haus</a></h1>

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="/#examples">Examples</a></li>
              <li class="break"><a href="/get-started">How It Works</a></li>
            </ul>
          </nav>

        </div>
      </div>

    <!-- Main -->
      <div class="wrapper">
        <div class="container" id="main">

          <!-- Content -->
            <article id="content">
              <header>
                <h2>How It Works</h2>
                <p>Let's build an awesome resume together.</p>
              </header>
              <p>Paper resumes dominate the job searching market, but you can't
              do much with them. No hiring manager will ever see your Microsoft Word
              resume and think "Wow, this is really well designed." And you
              might think, that's not the point of your resume - the point is
              the content and not how it looks. But really, think about it. If
              something is well built, we tend to spend more time with it and
              admire the actual content much more than something that is just
              thrown together. Still, you're pretty limited with an 8.5 x 11
              inch sheet of paper. That's where we come in. </p>
              <p><b>Resume Haus</b> specializes in building and hosting high quality resumes that leverage
              the true power of the web to show off who you really are. We
              account for all different types of data you may want to
              show off, like blocks of text, education, work experience, skills,
              awards, interests, and literally anything you can think of. If
              it's on your current resume - we'll make it look beautiful on your
              Resume Haus resume.</p>
              <p>If you haven't seen them yet, <a href="/#examples">check out our example
              template themes</a> to see which one you like best.</p>
              <a class="image featured"><img src="images/black-blurs.jpg" alt="" /></a>
            </article>
            <article>
              <header>
                <h2>How to Begin</h2>
                <p>You don't pay a cent until your
                resume is built. Here's the plan:</p>
            </header>
            <ul>
              <li><p>1) Complete the form below and upload your resume. Leave any
              additional information such as your desired theme or your
              Google Analytics id number.</p></li>
              <li><p>2) We'll receive your information and will begin building your
              resume.</p></li>
              <li><p>3) Once we're complete, we'll email you back with a public URL
              for your resume to verify everything
              looks good. If not, we'll hammer out what needs fixing.</p></li>
              <li><p>4) After everything looks good, we'll link you to a payment
              page. If we don't receive payment within a week of completion, your
              resume will be temporarily removed until payment is completed.</p></li>
              <li><p>5) We're done! You can link your resume to anyone you want
              to impress.</p></li>
              <li><p></p></li>
            </ul>
            <p>Check out some more features Resume Haus offers:</p>
            </article>

          <div class="row features">
            <section class="4u 12u(narrower) feature">
              <div class="image-wrapper first">
                <a class="image featured"><img src="images/checkmark.jpg" alt="" /></a>
              </div>
              <header>
                <h3>Well-Crafted HTML<br />and CSS</h3>
              </header>
              <p>Our resumes are built with responsiveness and accessibility in
              mind. You can sleep well knowing that your resume will look good on any
              screen and is accessible to any user.</p>
            </section>
            <section class="4u 12u(narrower) feature">
              <div class="image-wrapper">
                <a class="image featured"><img src="images/checkmark.jpg" alt="" /></a>
              </div>
              <header>
                <h3>Multiple Themes to Choose From</h3>
              </header>
              <p>Our themes are battle-tested against all viewing devices. Like a lot of them? You can change them out whenever you want -
              we're just an email away.</p>
            </section>
            <section class="4u 12u(narrower) feature">
              <div class="image-wrapper">
                <a class="image featured"><img src="images/checkmark.jpg" alt="" /></a>
              </div>
              <header>
                <h3>Google Analytics Integration</h3>
              </header>
              <p>Google Analytics is a powerful tool for tracking how many
              people visit your site as well as much more. Provide us your Google Analytics
              ID, and we'll plug it into your resume page.</p>
            </section>
          </div>
            <article>
              <header>
                <br />
                <h2>Pricing</h2>
                <hr />
                <h4>Initial Costs</h4>
                <p>$200 - Building your resume, hosting it for one
                year, and one month of unlimited updates</p>
                <hr />
                <h4>Later Costs</h4>
                <p>$25 - Incremental updates as needed, at your request</p>
                <p>$20 - Hosting fee per year (after first year)</p>
              </header>
              <p>That's it! If you still have questions, <a
              href="mailto:alkrauss48@gmail.com">shoot us an email</a>.</p>
            </article>

        </div>
      </div>

    <!-- Footer -->
      <div id="footer-wrapper">
        <div id="footer" class="container">
          <header class="major">
            <h2>Submit Your Resume to Get Started</h2>
            <p>Fill out the following form to get your Resume Haus resume
            underway. State which theme you want in your message, as well as any
            additional information. We'll email you with a first draft resume within a week!</p>
          </header>
          <div class="row">
            <section class="12u 12u(narrower)">
              {% macro errorList(errors) %}
                  {% if errors %}
                      <ul class="errors">
                          {% for error in errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              {% endmacro %}

              {% from _self import errorList %}
              <form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="contactForm/sendMessage">
                <input type="hidden" name="redirect" value="/thank-you">

                <div class="row 50%">
                  <div class="4u 12u(mobile)">
                    <input id="fromName" name="fromName" placeholder="Name" type="text"
                      value="{% if message is defined %}{{ message.fromName }}{% endif %}"
                    />
                    {{ message is defined and message ?  errorList(message.getErrors('fromName')) }}
                  </div>
                  <div class="4u 12u(mobile)">
                    <input id="fromEmail" name="fromEmail" placeholder="Email" type="text"
                      value="{% if message is defined %}{{ message.fromEmail }}{% endif %}"
                    />
                    {{ message is defined and message ?  errorList(message.getErrors('fromEmail')) }}
                  </div>
                  <div class="4u 12u(mobile)">
                    <label for="attachment">Current Resume:</label>
                    <input name="attachment" id="attachment" type="file" />
                    {{ message is defined and message ?  errorList(message.getErrors('attachment')) }}
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <textarea name="message" placeholder="Message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li><input type="submit" value="Submit" /></li>
                      <li><input type="reset" value="Clear form" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
        <div id="copyright" class="container">
          <ul class="menu">
            <li>&copy; <a href="http://thesocietea.org">Aaron Krauss</a> All rights reserved.</li>
            <li>Contact: <a
              href="mailto:alkrauss48@gmail.com">alkrauss48@gmail.com</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>

  </body>
</html>
{% endblock %}
