{% block content %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Resume Haus - Thank You</title>
    <meta name="description" content="" />
    {% include 'partials/_head' %}
  </head>
  <body class="no-sidebar">

  <div id="header-wrapper">
    {% include 'partials/_header' %}
  </div>

  <div class="wrapper">
    <div class="container" id="main">
      <article id="content">
        <header>
          <h2>Thank You!</h2>
          <p>We'll get back to you within a week.</p>
        </header>
      </article>
    </div>
  </div>

  <div id="footer-wrapper" style="padding-top: 0;">
    {% include 'partials/_footer' %}
  </div>

  </body>
</html>
{% endblock %}
