<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Creating and hosting beautiful resumes that leverage the
power of the web to show off who you really are." />
<meta name="keywords" content="" />
<meta name="og:image" content="http://resumehaus.com/images/Resume-Haus-logo-og.png" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

<link rel="shortcut icon" href="images/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="images/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="images/favicon/browserconfig.xml">

<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<script src="js/custom.js"></script>
<noscript>
  <link rel="stylesheet" href="css/skel.css" />
  <link rel="stylesheet" href="css/style.css" />
</noscript>
<link rel="stylesheet" href="css/custom.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
