<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block pagetitle %}{{ entry.title }}{% endblock %} Curriculum Vitae</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cirriculum Vitae for {{ entry.title }}">
  <meta name="author" content="Aaron L. Krauss">

  <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/{{ entry.theme }}/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body style="padding-top: 30px;" class="preview">
  <section role="main" class="container">

    {% include 'resume/_header' %}

    {% for block in entry.resumeBlocks %}
      <article class="col-lg-12">

        {% if     block.type  == "heading" %}         {% include 'resume/blocks/_heading' %}
        {% elseif block.type  == "text" %}            {% include 'resume/blocks/_text' %}
        {% elseif block.type  == "education" %}       {% include 'resume/blocks/_education' %}
        {% elseif block.type  == "workExperience" %}  {% include 'resume/blocks/_workExperience' %}
        {% elseif block.type  == "skillBar" %}        {% include 'resume/blocks/_skillBar' %}
        {% elseif block.type  == "list" %}            {% include 'resume/blocks/_list' %}
        {% endif %}

      </article>
    {% endfor %}

    {% include 'resume/_footer' %}

  </section>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38589428-1']);
  _gaq.push(['_setDomainName', 'thesocietea.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

  </body>
</html>
