<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block pagetitle %}{{ entry.title }}{% endblock %} Curriculum Vitae</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cirriculum Vitae for {{ entry.title }}">
  <meta name="author" content="Aaron L. Krauss">

  <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/{{ entry.theme }}/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body style="padding-top: 30px;" class="preview">
  <div class="container">
    <header class="jumbotron">
      <div class="row">
        <div class="col-md-12">
          <h3 style="text-align: center; text-style: italic">Curriculum Vitae for</h3>
          <h1 style="padding: 10px 0px; text-align: center; font-size: 60px; line-height: 70px;">{{ entry.title }}</h1>
          <span class="" style="text-align: center;">
            <address>
              {% if entry.webSite %}
                <a href="{{entry.webSite}}">{{entry.webSite}}</a><br />
              {% endif %}
              {% if entry.emailAddress %}
                <a href="{{entry.emailAddress}}">{{entry.emailAddress}}</a><br />
              {% endif %}
              {% if entry.phoneNumber %}
                <a href="{{entry.phoneNumber}}">{{entry.phoneNumber}}</a><br />
              {% endif %}
            </address>
          </span>
        </div>
      </div>
    </header>
    {% for block in entry.resumeBlocks %}
      <section class="col-lg-12">

        {% if block.type == "heading" %}

          <div class="row">
            <div class="col-lg-12 page-header">
              <h2>{{ block.heading }}</h2>
            </div>
          </div>

        {% elseif block.type == "textBlock" %}

          <div class="row">
            <div class="col-lg-12">
              {{ block.body }}
            </div>
          </div>

        {% elseif block.type == "education" %}

          <div class="row">
            <div style="padding-top: 2em;">
              <div class="col-sm-8"><h4 style="margin: 0">{{ block.schoolName }}</h4></div>
              <div class="col-sm-4"><h4 class="pull-right hidden-xs" style="margin: 0">{{ block.schoolLocation }}</h4></div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6"><span style="font-style:italic; font-size: 15px;">{{ block.degreeTitle }}</span></div>
            <div class="col-sm-6">
              <span class="visible-xs label label-default">{{ block.attendanceDates }}</span>
              <span class="hidden-xs pull-right" style="font-style:italic; font-size: 15px;">{{ block.attendanceDates }}</span>
            </div>
          </div>

          <div class="row">
            <div style="padding-top: 1em;" class="col-lg-12">{{ block.mainContent }}</div>
          </div>

        {% elseif block.type == "workExperience" %}

          <div class="row">
            <div style="padding-top: 2em;">
              <div class="col-sm-8">
                <h4 style="margin: 0; display: inline-block;">{{ block.companyName }}</h4>
                {% if block.companyWebsite %}
                  <a href="{{ block.companyWebsite }}" target="_BLANK">
                    <span class="badge">Website</span>
                  </a>
                {% endif %}
              </div>
              <div class="col-sm-4"><h4 class="pull-right hidden-xs" style="margin: 0">{{ block.companyLocation }}</h4></div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6"><span style="font-style:italic; font-size: 15px;">{{ block.jobTitle }}</span></div>
            <div class="col-sm-6">
              <span class="visible-xs label label-default">{{ block.datesEmployed }}</span>
              <span class="hidden-xs pull-right" style="font-style:italic; font-size: 15px;">{{ block.datesEmployed }}</span>
            </div>
          </div>

          <div class="row">
            <div style="padding-top: 1em;" class="col-lg-12">{{ block.mainContent }}</div>
          </div>

        {% elseif block.type == "skillBar" %}

          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-4">
                  <h4 style="text-align: right" class="hidden-xs">{{ block.skillTitle }}</h4>
                  <p><span class="label label-default visible-xs" style="text-align: center">{{ block.skillTitle }}</span></p>
                </div>
                <div class="col-sm-8">
                  <div class="progress" style="margin: 10px 0 10px 0; height: 22px;">
                    <div class="progress-bar" style="width: {{ block.skillPercentage }}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% elseif block.type == "listBlock" %}

          <div class="row">
            <div class="col-sm-8">
              <div class="row" style="padding-top:30px">
                <div class="col-sm-3">
                  <span class="pull-right hidden-xs"><strong>{{ block.listTitle }}</strong></span>
                  <span class="visible-xs badge">{{ block.listTitle }}</span>
                </div>
                <div class="col-sm-5">{{ block.listBody }}</div>
              </div>
            </div>
          </div>

        {% endif %}

      </section>
    {% endfor %}

    <footer style="padding-top: 10px;">
      <hr />
      <p style="text-align: center">&copy;
        {% if entry.webSite %}
          <a target="_blank" href="{{ entry.webSite }}">{{ entry.title }}</a>
        {% else %}
          {{ entry.title}}
        {% endif %}
        <script>document.write(new Date().getFullYear())</script><noscript>2015</noscript>
      </p>
    </footer>
  </div>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38589428-1']);
  _gaq.push(['_setDomainName', 'thesocietea.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

  </body>
</html>
