<div class="top-padding row">
  <div class="col-sm-8"><h4>{{ block.schoolName }}</h4></div>
  <div class="col-sm-4"><h4 class="pull-right hidden-xs">{{ block.schoolLocation }}</h4></div>
</div>

<div class="row">
  <div class="col-sm-6"><span class="small-italic">{{ block.degreeTitle }}</span></div>
  <div class="col-sm-6">
    <span class="visible-xs label label-default">{{ block.attendanceDates }}</span>
    <span class="hidden-xs pull-right small-italic">{{ block.attendanceDates }}</span>
  </div>
</div>

<div class="row">
  <div class="education-content col-lg-12">{{ block.mainContent }}</div>
</div>
