<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4">
        <h4 style="text-align: right" class="hidden-xs">{{ block.skillTitle }}</h4>
        <p><span class="label label-default visible-xs" style="text-align: center">{{ block.skillTitle }}</span></p>
      </div>
      <div class="col-sm-8">
        <div class="progress" style="margin: 10px 0 10px 0; height: 22px;">
          <div class="progress-bar" style="width: {{ block.skillPercentage }}%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
